.img-thumbnail {
  /* width: 200px; */
  /* max-height: 200px; */
  /* background-size: auto; */
  /* background-repeat: no-repeat; */
}

.thumbnail-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
